@import "tailwindcss";

:root {
  --bg: #ffffff;
  --surface: #1a1a1a;
  --border: #2a2a2a;
  --accent: #FF48CD;
  --accent-hover: #FF6AC9;
  --text-primary: #000000;
  --text-secondary: #888888;
}

@theme inline {
  --color-bg: var(--bg);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--bg);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button.pane-switch-button {
  padding: 8px;
  border: 1px solid var(--color-surface);
  border-radius: 8px;
}
